<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Kanban</title>

    <!-- External components -->
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='components/webfont-opensans/stylesheet.css'>

    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/jquery-ui/jquery-ui.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-ui-sortable/sortable.js"></script>
    <script src="components/ngstorage/ngStorage.js"></script>

    <!-- My stuff -->
    <link rel="stylesheet" href="style.css">

    <script src="index.js"></script>

</head>
<body ng-app="app" ng-controller="AppCtrl as appCtrl">

<div class="container">

    <div class="row">
        <div class="col-md-3 column" ng-repeat="column in appCtrl.vm.columns track by $index">
            <span ng-controller="ColumnCtrl as columnCtrl">
                <h3>{{column.name}}</h3>

                <ul ui-sortable='{connectWith: ".list", placeholder: "placeholder"}'
                    ng-model="column.items"
                    class="list">

                    <li ng-repeat="item in columnCtrl.column.items track by $index">
                            <textarea ng-model="item.content" rows="3"></textarea>
                            <span class="glyphicon glyphicon-remove remove"
                                  ng-hide="$last"
                                  ng-click="columnCtrl.remove($index)"></span>
                    </li>
                </ul>
            </span>
        </div>
    </div>

    <hr/>

    <pre>{{appCtrl.vm | json}}</pre>

</div>


</body>
</html>